= form_for @delivery_service do |f|
  = f.error_messages
  .panel.panel-default
    .panel-heading
      = t('tienda.delivery_services.details')
    .panel-body
      .row
        .col-md-6
          .form-group
            = f.label :name, t('tienda.delivery_services.name')
            = f.text_field :name, class: 'focus form-control'
        .col-md-6
          .form-group
            = f.label :code, t('tienda.delivery_services.code')
            = f.text_field :code, class: 'form-control'
      .row
        .col-md-6
          .form-group
            = f.label :active, t('tienda.delivery_services.active')
            .checkbox
              %label
                = f.check_box :active
                = t('tienda.delivery_services.active_info')
        .col-md-6
          .form-group
            = f.label :default, t('tienda.delivery_services.default')
            .checkbox
              %label
                = f.check_box :default
                = t('tienda.delivery_services.default_info')
  .panel.panel-default
    .panel-heading
      = t('tienda.delivery_services.courier')
    .panel-body
      .row
        .col-md-6
          .form-group
            = f.label :courier,  t('tienda.delivery_services.courier_name')
            = f.text_field :courier, class: 'form-control'
        .col-md-6
          .form-group
            = f.label :tracking_url,  t('tienda.delivery_services.tracking_url')
            = f.text_field :tracking_url, class: 'form-control'
            %p.help-block=  t('tienda.delivery_services.tracking_url_help_html')

  .panel.panel-default
    .panel-body
      - unless @delivery_service.new_record?
        %span.pull-right= link_to  t('tienda.delete'), [@delivery_service], class: 'btn btn-danger', method: :delete, data: {confirm: t('tienda.delivery_services.delete_confirmation')}
      = f.submit t('tienda.submit'), class: 'btn btn-primary'
      = link_to t('tienda.cancel'), :delivery_services, class: 'btn btn-default'
