- @page_title = t('tienda.delivery_services.delivery_services')

.row
  .col-md-12
    %h1.page-header
      = t('tienda.delivery_services.delivery_services')
      -# %small Lorem ipsum dolor
/ /. ROW
.row
  .col-md-12
    %p.pull-right
      = link_to t('tienda.delivery_services.new'), :new_delivery_service, class: 'btn btn-primary'

.panel.panel-default
  .panel-heading
    Listing delivery services
  .panel-body
    %table.table.table-hover
      %thead
        %tr
          %th= t('tienda.delivery_services.name')
          %th= t('tienda.delivery_services.prices')
          %th= t('tienda.delivery_services.courier')
          %th= t('tienda.delivery_services.active?')
          %th= t('tienda.delivery_services.default?')
      %tbody
        - if @delivery_services.empty?
          %tr.empty
            %td{:colspan => 5}= t('tienda.delivery_services.no_services')
        - else
          - for delivery_service in @delivery_services
            %tr
              %td= link_to delivery_service.name, [:edit, delivery_service]
              %td= link_to t('tienda.delivery_services.set_prices'), [delivery_service, :delivery_service_prices]
              %td= delivery_service.courier
              %td= boolean_tag delivery_service.active?
              %td= boolean_tag delivery_service.default?
