!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title #{@page_title} - Tienda
    %meta{content: "http://gonzalo.robaina.me", name: "author"}/
    =# stylesheet_link_tag 'tienda/application'
    %link{href: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel: 'stylesheet'}
    = stylesheet_link_tag 'tienda/custom-styles'

    %link{href: '//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css', rel: 'stylesheet'}
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css'}/
    = javascript_include_tag 'tienda/application'
    = csrf_meta_tags
    :javascript
      window.Tienda = {}
      window.Tienda.currencyUnit = "#{h Tienda.settings.currency_unit}";
  %body{class: body_class}
    #wrapper
      = render 'navbar'

      = render 'sidebar'

      #page-wrapper
        #page-inner
          = yield

          %footer
            %p
              Powered by Tienda Gem by:
              %a{:href => "http://gonzalo.robaina.me"} Gonzalo Robaina
              | Template by:
              %a{:href => "http://webthemez.com"} WebThemez

  %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"}
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"}
  = javascript_include_tag 'tienda/jquery.metisMenu'
