= form_for @product_category do |f|
  = f.error_messages
  .panel.panel-default
    .panel-heading
      = t('tienda.product_category.category_details')
    .panel-body
      .row
        .col-md-4
          .form-group
            = f.label :name, t('tienda.product_category.parent')
            = f.select :parent_id, product_categories_options_for_select(@product_category.parent_id, @product_category.id), {prompt: true}, {class: 'form-control'}
        .col-md-4
          .form-group
            = f.label :name, t('tienda.product_category.name')
            = f.text_field :name, class: 'focus form-control'
        .col-md-4
          .form-group
            = f.label :permalink, t('tienda.product_category.permalink')
            = f.text_field :permalink, class: 'form-control'
      .row
        .col-md-12
          .form-group
            = f.label :description, t('tienda.product_category.description')
            = f.text_area :description, class: 'form-control'

  .panel.panel-default
    .panel-heading
      = t('tienda.product_category.attachments')
    .panel-body
      .row
        .col-md-12
          = f.label :image, t('tienda.product_category.image')
          %div
            - unless @product_category.image.blank?
              = image_tag @product_category.image.url
            %p= f.file_field :image, class: 'form-control'

  .panel.panel-default
    .panel-body
      - unless @product_category.new_record?
        %span.pull-right= link_to t('tienda.delete') , @product_category, class: 'btn btn-danger', method: :delete, data: {confirm: t('tienda.product_category.delete_confirmation') }
      = f.submit t('tienda.submit'),  class: 'btn btn-primary'
      = link_to t('tienda.cancel') , :product_categories, class: 'btn btn-default'
