- @page_title =  t('tienda.sessions.admin_login')

= display_flash
  
.loginArea
  = form_tag :login, class: 'login' do
    .form-group
      = text_field_tag 'email_address', params[:email_address], class: 'form-control focus', placeholder: t('tienda.sessions.email')
    .form-group
      = password_field_tag 'password', params[:password], class: 'form-control ', placeholder:  t('tienda.sessions.password')
    %p.submit
      = submit_tag t('tienda.sessions.login'), class: 'btn btn-primary'
    %p.reset
      = link_to t('tienda.sessions.reset_password?'), login_reset_path
