.panel.panel-default
  .panel-heading
    Order Details
  .panel-body
    .col-md-6
      %dl
        %dt= t('tienda.orders.name')
        %dd= @order.full_name
        %dt= t('tienda.orders.company')
        %dd= @order.company.blank? ? '-' : @order.company
        %dt
          - if @order.separate_delivery_address?
            = t('tienda.orders.billing_address')
          - else
            = t('tienda.orders.billing_delivery_address')

        %dd= @order.billing_address1
        %dd= @order.billing_address2
        %dd= @order.billing_address3
        %dd= @order.billing_address4
        %dd= @order.billing_postcode
        %dd= @order.billing_country.try(:name)
        - if @order.separate_delivery_address?
          %dt= t('tienda.orders.delivery_address')
          %dd= @order.delivery_name
          %dd= @order.delivery_address1
          %dd= @order.delivery_address2
          %dd= @order.delivery_address3
          %dd= @order.delivery_address4
          %dd= @order.delivery_postcode
          %dd= @order.delivery_country.try(:name)
    .col-md-6
      %dl
        %dt= t('tienda.orders.email_address')
        %dd= mail_to @order.email_address
        %dt= t('tienda.orders.telephone')
        %dd= @order.phone_number
        %dt= t('tienda.orders.weight')
        %dd= number_to_weight @order.total_weight
        - if @order.received?
          %dt= t('tienda.orders.build_time')
          %dd= distance_of_time_in_words(@order.created_at, @order.received_at)
        - if @order.invoiced?
          %dt= t('tienda.orders.invoice_number')
          %dd= @order.invoice_number
        %dt= t('tienda.orders.order_balance')
        %dd= boolean_tag @order.paid_in_full?, nil, true_text: number_to_currency(@order.balance), false_text: number_to_currency(@order.balance)
      - if @order.accepted? && !@order.shipped?
        = form_tag [:ship, @order] do
          .form-group
            = label_tag 'consignment_number', t('tienda.orders.consignment_number')
            = text_field_tag 'consignment_number', '', class: 'form-control'
          .form-group
            = submit_tag t('tienda.orders.mark_as_shipped') , class: 'btn btn-primary btn-sm'

      - unless @order.accepted? || @order.rejected?
        %dl.form
          %dd
            = link_to t('tienda.orders.accept'), [:accept, @order], method: :post, class: 'btn btn-primary'
            = link_to t('tienda.orders.reject'), [:reject, @order], method: :post, class: 'btn btn-danger'
