- @page_title = t('tienda.orders.new_order')

.row
  .col-md-12
    %h1.page-header
      = t('tienda.orders.new_order')
      %small Lorem ipsum dolor
/ /. ROW
.row
  .col-md-12
    %p.pull-right
      = link_to t('tienda.orders.back_to_orders'), :orders, class: 'btn btn-default'

.panel.panel-default
  .panel-heading
    = t('tienda.orders.new_order')
  .panel-body
    = form_for @order, html: {class: 'orderForm newOrder'} do |f|
      = f.error_messages
      = render 'form', f: f
      = field_set_tag t('tienda.orders.ordered_products'), class: 'padded' do
        = render 'order_items_form', f: f
      %p.submit
        = f.submit t('tienda.orders.create_order'), class: 'btn btn-primary'
        = link_to t('tienda.cancel'), :orders, class: 'btn btn-default'
