- @page_title = "#{t('tienda.variants.variants')} - #{@product.name}"

.row
  .col-md-12
    %h1.page-header
      = t('tienda.variants.variants_of', product:@product.name)
      -# %small Lorem ipsum dolor
/ /. ROW
.row
  .col-md-12
    %p.pull-right
      = link_to t('tienda.variants.back_to_variants'), [@product, :variants], class: 'btn btn-default'

= form_for [@product, @variant], :url => @variant.new_record? ? product_variants_path(@product) : product_variant_path(@product, @variant), :html => {:multipart => true} do |f|
  = f.error_messages
  .panel.panel-default
    .panel-heading
      = t('tienda.variants.product_information')
    .panel-body
      .row
        .col-md-4
          .form-group
            = f.label :name, t('tienda.variants.name')
            = f.text_field :name, class: 'form-control focus'
        .col-md-4
          .form-group
            = f.label :permalink, t('tienda.variants.permalink')
            = f.text_field :permalink, class: 'form-control'
        .col-md-4
          .form-group
            = f.label :sku, t('tienda.variants.sku')
            = f.text_field :sku, class: 'form-control'

  .panel.panel-default
    .panel-heading
      = t('tienda.variants.image')
    .panel-body
      %table.productImages.table.table-hover
        %thead
          %tr
            %th= t('tienda.products.preview')
            %th= t('tienda.products.file_name')
            %th.remove= t('tienda.products.remove')
            %th
        %tbody
          %tr.template{style: 'display:none;'}
            %td= file_field_tag 'product[product_images_attributes][][image]', class: 'form-control'
            %td= t('tienda.products.file_name')
            %td.remove= link_to t('tienda.remove') , '#', class: 'btn btn-sm btn-danger'
            %td
          - @product.product_images.each_with_index do |image, i|
            %tr
              %td= image_tag image.image.url, class: :img_preview
              %td= File.basename(image.image.path)
              %td.remove
                = link_to t("tienda.remove"), '#', class: 'btn btn-sm btn-danger'
                = hidden_field_tag "product[product_images_attributes][#{i}][id]", image.id
                = hidden_field_tag "product[product_images_attributes][#{i}][_destroy]", '', class: 'destroy'
              %td
      %p.addImage= link_to t('tienda.products.add_image') , '#', data: {behavior: 'addImageToImagesTable'}, class: 'btn btn-success btn-sm'

  .panel.panel-default
    .panel-heading
      = t("tienda.variants.pricing")
    .panel-body
      .row
        .col-md-4
          .form-group
            = f.label :price, t('tienda.variants.price')
            .form-group.input-group
              %span.input-group-addon= Tienda.settings.currency_unit.html_safe
              = f.text_field :price, class: 'form-control'
        .col-md-4
          .form-group
            = f.label :cost_price, t('tienda.variants.cost_price')
            .form-group.input-group
              %span.input-group-addon= Tienda.settings.currency_unit.html_safe
              = f.text_field :cost_price, class: 'form-control'
        .col-md-4
          .form-group
            = f.label :tax_rate_id, t('tienda.variants.tax_rate')
            = f.collection_select :tax_rate_id, Tienda::TaxRate.ordered, :id, :description, {include_blank: true}, {class: 'form-control', data: {placeholder: t('tienda.variants.no_tax')}}

  .panel.panel-default
    .panel-heading
      = t('tienda.variants.stock_control')
    .panel-body
      .row
        .col-md-6
          .form-group
            = f.label :weight, t('tienda.variants.weight')
            = f.text_field :weight, class: 'form-control'

        .col-md-6
          .form-group
            = f.label :stock_control, t('tienda.variants.stock_control')
            .checkbox
              %label
                = f.check_box :stock_control
                = t('tienda.variants.enable_stock_control?')

  .panel.panel-default
    .panel-heading
      = t('tienda.variants.website_properties')
    .panel-body
      .row
        .col-md-6
          = f.label :active, t('tienda.variants.on_sale?')
          .checkbox
            %label
              = f.check_box :active
              = t('tienda.variants.on_sale_info')
        .col-md-6
          = f.label :default, t('tienda.variants.default_variant?')
          .checkbox
            %label
              = f.check_box :default
              = t('tienda.variants.default_variant_info')

  .panel.panel-default
    .panel-body
      - unless @variant.new_record?
        %span.right= link_to t('tienda.delete'), product_variant_path(@product, @variant), class: 'btn btn-danger', method: :delete, data: {confirm: t('tienda.variants.delete_confirmation')}
      = f.submit t('tienda.variants.save_variant'), class: 'btn btn-primary'
      = link_to t('tienda.cancel'), :products, class: 'btn btn-default'
