- @page_title = t('tienda.countries.countries')

.row
  .col-md-12
    %h1.page-header
      = t('tienda.countries.countries')
      %small Lorem ipsum dolor
/ /. ROW
.row
  .col-md-12
    %p.pull-right
      = link_to t('tienda.countries.new_country') , :new_country, class: 'btn btn-primary'

.panel.panel-default
  .panel-heading
    Listing countries
  .panel-body
    %table.table.table-hover
      %thead
        %tr
          %th= t('tienda.countries.name')
          %th= t('tienda.countries.iso_alpha_2')
          %th= t('tienda.countries.iso_alpha_3')
          %th= t('tienda.countries.continent')
          %th= t('tienda.countries.tld')
          %th= t('tienda.countries.eu?')
      %tbody
        - for country in @countries
          %tr
            %td= link_to country.name, [:edit, country]
            %td= country.code2
            %td= country.code3
            %td= country.continent
            %td= country.tld
            %td= boolean_tag country.eu_member?
