- @page_title = t('tienda.products.products')

.row
  .col-md-12
    %h1.page-header
      = t('tienda.products.products')
      -# %small Lorem ipsum dolor
/ /. ROW
.row
  .col-md-12
    .pull-right
      = link_to t('tienda.products.variants') , [@product, :variants], class: 'btn btn-default'
      = link_to t('tienda.products.stock_levels') , stock_level_adjustments_path(item_id: @product.id), class: 'btn btn-default', rel: 'dialog', data: {:dialog_width => 700, :dialog_behavior => 'stockLevelAdjustments'}
      = link_to t('tienda.products.back_to_products') , :products, class: 'btn btn-default'
%br
= render 'form'
